# IDE-specific files
.idea/
.vscode/

# Python cache
__pycache__/

# Virtual environment
venv/

# .env file
.env

# .pem files (certificates, keys etc.)
*.pem

# Entire data stored
static/uploads/*.png
static/uploads/*.jpg
static/uploads/*.jpeg
static/uploads/*.gif
sqlite3.db
