.auth-container {
    max-width: 600px;
}

#strength-bar {
    width: 30%;
    height: 20px;
    background-color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

#strength-bar div {
    height: 100%;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.pwd-weak {
    width: 25%;
    background-color: red;
}

.pwd-moderate {
    width: 50%;
    background-color: orange;
}

.pwd-strong {
    width: 75%;
    background-color: yellow;
}

.pwd-very-strong {
    width: 100%;
    background-color: green;
}

.mfa-container {
    display: flex;
    justify-content: space-between;
}

.mfa-container .info {
    flex: 1;
}

.mfa-container .qr-code {
    flex: 1;
    text-align: right;
}

.mfa-note {
    margin-top: 20px;
    color: red;
}

.subcontainer {
    background-color: #484848;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subcontainer span {
    text-align: right;
}