<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Internal Error | SafeTweet</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <h1>Internal error</h1>
    <p>The server has encountered an internal error that prevented your request from being executed properly!<br>
        Please try again later...</p>
</div>
</body>
</html>