<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Login | SafeTweet</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
<div class="container auth-container">
    <h1>Login</h1>
    {% if error %}
        <div class="error-dialog">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    <form id="login-form" method="POST">
        {{ form.hidden_tag() }}
        <label for="username">Username</label><br>
        {{ form.username }}<br><br>
        <label for="password">Password</label><br>
        {{ form.password }}<br><br>
        <label for="token">2FA Token</label><br>
        {{ form.token }}<br><br>
        <div class="center">
            {{ form.submit(class="common-button") }}
        </div>
    </form>
    <div class="center">
        <form action="{{ url_for('register') }}">
            <input type="submit" id="register" class="common-button" value="Register"/>
        </form>
    </div>
    <div class="center">
        <form action="{{ url_for('reset_password_request') }}">
            <input type="submit" id="reset_password_request" class="common-button" value="Forgot Password?"/>
        </form>
    </div>
</div>
</body>
</html>