<html lang="">
<head>
    <meta charset="UTF-8">
    <title>SafeTweet | Register</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
<div class="container auth-container">
    <h1>Register</h1>
    <form method="POST">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="email">E-mail</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required oninput="updateStrengthBar()"><br><br>
        <label for="confirm_password">Confirm Password</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>
        <div class="center">
            <label>Password Safety: <span id="password-safety">N/A</span></label>
            <div id="strength-bar">
                <div></div>
            </div>
        </div>
        <br>
        <div class="center">
            <input type="submit" id="register" class="common-button register-button"/>
            <label for="register" id="register-label">Register</label>
        </div>
    </form>
    <div class="center">
        <form action="{{ url_for('login') }}">
            <input type="submit" id="back-to-login" class="common-button login-button"/>
            <label for="back-to-login" id="back-to-login-label">Back to Login</label>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>