<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Request Password Reset | SafeTweet</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
<div class="container auth-container">
    <h1>Request Password Reset</h1>
    {% if error %}
        <div class="error-dialog">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    <form method="post">
        {{ form.hidden_tag() }}
        <label for="email">Email</label><br>
        {{ form.email }}<br><br>
        <div class="center">
            {{ form.submit(class="common-button") }}
        </div>
    </form>
    <div class="center">
        <form action="{{ url_for('login') }}">
            <input type="submit" id="back-to-login" class="common-button login-button" value="Back to Login"/>
        </form>
    </div>
</div>
</body>
</html>