<html lang="">
<head>
    <meta charset="UTF-8">
    <title>SafeTweet | Setup 2FA</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mfa.css') }}">
</head>
<body>
<div class="container mfa-container">
    <div class="info">
        <h1>Setup 2FA</h1>
        <p>Scan the QR code with your authenticator app!</p>
        <p class="mfa-note"><b>Note:</b> Failing to add the TOTP app will make you unable to log onto your account!</p>
        <div class="center">
            <input type="submit" id="finish" class="common-button"/>
            <label for="finish" id="finish-label">Finish</label>
        </div>
    </div>
    <div class="qr-code">
        <img src="data:image/png;base64,{{ totp_provisioning_uri }}" alt="QR Code" width="360" height="360">
    </div>
</div>
</body>
</html>